@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playpen+Sans:wght@500&family=Sixtyfour&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* -------------- Navbar ----------------- */
.container-fluid{
    padding: 0;
}

.navbar-brand{
    color: white;
    font-family: "Dancing Script", cursive;
}
ul li a{
    padding-inline: 30px !important;
    color: white !important;
}
ul li a:hover{
    color: #ffbe33 !important;
}
.active{
    color: #ffbe33 !important;
}
.btn:hover{
    background-color: #e69c00;
}
.hover{
    color: white;
}
.hover:hover{
    color: #ffbe33;
}

/* -------------- First section ----------------- */
.sectio1{
    height: 100%;
    width: 100%;
}
/* <!-------------- Menu Title -----------------> */
.menu-title{
    font-family: "Dancing Script", cursive;
    font-size: 40px;
}
.text-color{
    font-size: 18px;
    color: black !important;
}
.text-color.active{
    color: white !important;
    background-color: black !important;
}
/* <!----------------- Menu Items ---------------> */
.row{
    padding: 0px 190px;
    margin: 0px;
}
.menu-card{
    background-color: #222831;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-img {
    padding: 50px;
    background-color: #f1f2f3;
    border-radius: 0 0 0 45px;
}
.img-container {
    width: 100%;
    padding-bottom: 75%; /* 4:3 Aspect Ratio */
    border-radius: 10px;
    background: url(../Images/f1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img-container.burger {
    background: url(../Images/f2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-container.pizza-special {
    background: url(../Images/f3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img-container.pasta {
    background: url(../Images/f4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img-container.fries {
    background: url(../Images/f5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img-container.pizza {
    background: url(../Images/f6.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img-container.classic-burger {
    background: url(../Images/f7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img-container.tasty-burger {
    background: url(../Images/f8.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img-container.spring-pasta {
    background: url(../Images/f9.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-info {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.menu-info h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.menu-info p {
    color: white;
    font-size: 1.10rem;
    line-height: 1.5;
    margin-bottom: 15px;
    flex-grow: 1;
}
.price-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price {
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
}
.btn-add{
    height: 40px;
    width: 40px;
    background-color: #ffbe33;
    border-radius: 50%;
    color: white;
    border: none;
    line-height: 40px;
}
.view-more{
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
}

/*---------------------- Footer  ---------------------------*/
.footer {
    background-color: #222831; 
    color: #ffffff;
    padding: 40px 0;
}
.footer h5 {
    font-family: "Dancing Script", cursive; 
    font-size: 30px;
}
.social-icons a {
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    color: #222831;
    border-radius: 50%;
    text-align: center;
    line-height: 30px; 
    margin: 0 10px; 
    font-size: 20px; 
}
.social-icons a:hover{
    color: #ffbe33;
}

@media(max-width:550px){
    .row{
        padding: 0px 10px;
    }
}
@media(max-width:1030px){
    .row{
        padding: 0px 10px;
    }
}
